body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.red {
	text-transform: uppercase;
	font-weight: bold;
	color:red;
	text-shadow:  1px  1px black,
				 -1px  1px black,
				  1px -1px black,
				 -1px -1px black,
				  0px  1px black,
				  0px -1px black,
				  1px  0px black,
				 -1px  0px black;
}

span.blue {
	text-transform: uppercase;
	font-weight: bold;
	color:blue;
	text-shadow:  1px  1px black,
				 -1px  1px black,
				  1px -1px black,
				 -1px -1px black,
				  0px  1px black,
				  0px -1px black,
				  1px  0px black,
				 -1px  0px black;

}

span.green {
	text-transform: uppercase;
	font-weight: bold;
	color:green;
	text-shadow:  1px  1px black,
				 -1px  1px black,
				  1px -1px black,
				 -1px -1px black,
				  0px  1px black,
				  0px -1px black,
				  1px  0px black,
				 -1px  0px black;

}

span.yellow {
	text-transform: uppercase;
	font-weight: bold;
	color:yellow;

	text-shadow:  1px  1px black,
				 -1px  1px black,
				  1px -1px black,
				 -1px -1px black,
				  0px  1px black,
				  0px -1px black,
				  1px  0px black,
				 -1px  0px black;

}